<p>Уважаемый {{ user.first_name }},</p>
<p>Вы сняли с цифровой Елки подарок {{ gift.name }} для {{ gift.kid.name }}.</p>
<p>Осталось совсем немного:
<ol>
    <li>Найдите подходящий подарок</li>
    <li>Закажите его с доставкой на СВХ (см. информацию ниже) или привезите его на адрес СВХ самостоятельно</li>
    <li>Не забудьте изменить статус подарка в разделе "Мои подарки"</li>
</ol>
</p>
<p>
    <b>Крайний срок доставки подарка на СВХ</b>: {{ gift.project.delivery_date.strftime('%d.%m.%Y') }}<br>
    <b>Варианты доставки для Озон и Вайлдберриз:</b><br>
    {{ gift.project.description }}
</p>

<p>С уважением,</p>
<p>Команда проекта Фея</p>
<p><small>Нет смысла отвечать на это письмо, мы не просматриваем этот ящик.</small></p>