<p>Уважаемый {{ user.first_name }},</p>
<p>Вы сняли с цифровой Елки подарок {{ gift.name }} для {{ gift.kid.name }}.</p>
<p>Осталось совсем немного:
<ol>
    <li>Найдите подходящий подарок</li>
    <li>Закажите его с доставкой на СВХ (см. информацию ниже) или привезите его на адрес СВХ самостоятельно</li>
    <li>Не забудьте изменить статус подарка в разделе "Мои подарки"</li>
</ol>
</p>
<p>
        {{ gift.project.description }}
</p>
<p>
    Крайний срок доставки подарка на СВХ: <b>{{ gift.project.delivery_date.strftime('%d.%m.%Y') }}</b>
    <br>
    Адрес для доставки: <b>{{ gift.project.delivery_address }}</b>
    <br>
    Контактное лицо: <b>{{ gift.project.contact_person }}</b>
    <br>
    Телефон: <b>{{ gift.project.phone }}</b>
    <br>
    Если доставка до адреса невозможна, то можно заказать подарок в один из нижеследующих пунктов самовывоза:
    <br>
    Адрес точки самовывоза Ozon: <b>{{ gift.project.pickup_point_address_1 }}</b>
    <br>
    Адрес точки самовывоза Wildberries: <b>{{ gift.project.pickup_point_address_2 }}</b>
    <br>
</p>

<p>С уважением,</p>
<p>Команда проекта Фея</p>
<p><small>Нет смысла отвечать на это письмо, мы не просматриваем этот ящик.</small></p>