{% extends 'base.html' %} 

{%block title%}
Главная 
{%endblock%}

{% block content %} 

<div style="text-align:center; max-width: 1000px; max-height: 400px; position: absolute; top:160px; bottom: 0px;
left:20px;
right:20px; margin: auto">
    <h3>Платформа управления благотворительными акциями Фея</h3>
  <p>Творите добро с удобством!</p>

  <a class="btn btn-primary" href="{{ url_for('users_bp.register_page')}}">Начнем!</a>
<br><br>
  <H5>Активный проект: {{ project_name.name }}</H5>
    <H5>Осталось подарков: {{ gifts_on_tree|count }}</H5>

</div>

{% endblock %}