{% extends 'base.html' %}
{% block title %}
    Мои подарки
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 20px; margin-left: 20px">
        <div class="col">
            <h3>Мои подарки</h3>
        {% if gifts_on_tree|count != 0 %}
        <p>На сегодняшнюю дату на елке осталось еще <b>
            <a style="color: #c82333"> {{ gifts_on_tree|count }}</a></b> подарка(-ов).
            Если ты можешь снять с  <a href="{{ url_for('gifts_bp.tree_page', page_num=1) }}">Елки</a> еще один шарик
            с подарком, мы будем тебе очень благодарны!</p>
        {% else %}
        {% endif %}
            <p>Для обновления статуса используйте выпадающее меню</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Ребенок</th>
                    <th>Статус</th>
                    <th>Обновить статус</th>
                </tr>
                </thead>
                <tbody>
                {% for gift in gifts %}
                    {% include 'includes/owned_gifts_modals.html' %}
                    <tr>
                        <td>{{ gift.name }}</td>
                        <td>
                            {{ gift.kid.name }}
                            {% if age_calculator(gift.kid.birthday) == 1 %}
                                ({{ age_calculator(gift.kid.birthday) }} год)
                            {% endif %}
                            {% if 2 <= age_calculator(gift.kid.birthday) <= 4 %}
                                ({{ age_calculator(gift.kid.birthday) }} года)
                            {% endif %}
                            {% if 5 <= age_calculator(gift.kid.birthday) <= 20 %}
                                ({{ age_calculator(gift.kid.birthday) }} лет)
                            {% endif %}
                        </td>
                        <td class="col-2">{% if gift.status == None %}
                            На елке
                        {% elif gift.status == 0 %}
                            Снят
                        {% elif gift.status == 1 %}
                            Заказан
                        {% elif gift.status == 2 %}
                            Доставлен на СВХ
                        {% elif gift.status == 3 %}
                            Вручен ребенку
                        {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-outline btn-success" data-toggle="modal"
                                    data-target="#Model-StatusUpdate-{{ gift.id }}">Детали и статус
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}