{% extends 'base.html' %}
{% block title %}
    Удаление проекта
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == "admin" %}
            <hr>
            <h3>Удалить проект {{ project.name }}?</h3><br>
            <h4 style="color: darkred">Данное действие невозможно отменить!</h4><br>
            <form method="post" action="">
                Нажмите кнопку "Удалить" для подтверждения<br><br>

                <input type="submit" value="Удалить" class="btn btn-danger">
                <a href="{{ url_for('projects_bp.projects_page') }}">
                <input type="button" value="Отмена" class="btn btn-primary"></a>
            </form>
        {% else %}
            <div class="col"><h3>У вас недостаточно прав для просмотра данной страницы.</h3></div>
        {% endif %}
    {% endif %}
{% endblock %}