{% extends 'base.html' %}
{% block title %}
    Создать новый проект
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == "admin" %}
            <hr>
            <div class="col">
                <h3>Добавить проект</h3><br>
                <form method="post" class="project_form">
                    <!-- защита от Cross Site Request Forgery -->
                    {{ project_form.hidden_tag() }}
                    <div class="row">
                        <div class="col-2"> {{ project_form.name.label }}</div>
                        <div class="col-10">{{ project_form.name(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.description.label }}</div>
                        <div class="col-10">{{ project_form.description(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.delivery_date.label }}</div>
                        <div class="col-10">{{ project_form.delivery_date(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.visit_date.label }}</div>
                        <div class="col-10">{{ project_form.visit_date(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.delivery_address.label }}</div>
                        <div class="col-10">{{ project_form.delivery_address(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.contact_person.label }}</div>
                        <div class="col-10">{{ project_form.contact_person(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.phone.label }}</div>
                        <div class="col-10">{{ project_form.phone(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.pickup_point_address_1.label }}</div>
                        <div class="col-10">{{ project_form.pickup_point_address_1(class='form-control') }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> {{ project_form.pickup_point_address_2.label }}</div>
                        <div class="col-10">{{ project_form.pickup_point_address_2(class='form-control') }}</div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col" style="text-align: right">
                            {{ project_form.submit(class="btn btn-primary", value="Сохранить") }}
                            <a class="btn btn-primary" href="{{ url_for('projects_bp.projects_page', page_num=1) }}">Отмена</a>
                        </div>
                    </div>
                    <br>
                </form>
                {% else %}
                <div class="col"><h3>У вас недостаточно прав для просмотра данной страницы.</h3></div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}