{% extends 'base.html' %} 

{%block title%}
Главная 
{%endblock%}

{% block content %} 
<br>
<div style="text-align:center; max-width: 1000px; max-height: 400px; position: absolute; top:200px; bottom: 0px;
left:20px;
right:20px; margin: auto">
    <h3>Ура!</h3>
  <p>Вы успешно зарегистрировались на платформе!</p>
  <p>Теперь Вам необходимо подтвердить адрес вашей электронной почты. Проверьте свой почтовый ящик и пройдите по
      ссылке из письма. Ссылка действует 1 час. После подтверждения, вы сможете авторизоваться в системе. </p>
</div>

{% endblock %}