<!-- подключаем base шаблон -->
{% extends 'base.html' %}

{% block title %}
    Форма регистрации
{% endblock %}

{% block content %}
<br>
        <h4 class="h4 mb-3 text-center">Пожалуйста, заполните форму для регистрации на портале Фея</h4>

        <form method="post" class="form-register">
            <!-- защита от Cross Site Request Forgery -->
            {{ reset_password_form.hidden_tag() }}
            <div class="row">
                <div class="col-3">
                    {{ reset_password_form.password1.label() }}
                </div>
               <div class="col-9">
                   {{ reset_password_form.password1(class="form-control", placeholder="Введите пароль") }}
               </div>
                <br><br>
                <div class="col-3">
                    {{ reset_password_form.password2.label() }}
                </div>
                <div class="col-9">
                     {{ reset_password_form.password2(class="form-control", placeholder="Введите пароль еще раз") }}
                </div>
                <br><br>
                <div class="col-3">
                Защита от ботов:
            </div>
            <div class="col-4" style="transform:scale(0.75); transform-origin:0 0">
                {{ reset_password_form.recaptcha }}
            </div>
            </div>
            <br>
             {{ reset_password_form.submit(class="btn btn-block btn-primary") }}
            <br>
        </form>

    <!-- конец блока content -->
{% endblock %}