{% extends 'base.html' %}
{% block title %}
    Текущий статус проектов
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == "admin" %}
            <hr>
            <div class="col">
            <h3>Статус всех подарков</h3>
            <table class="table">
                <tr>
                    <th>Всего подарков</th>
                    <th>На Елке</th>
                    <th>Снято с Елки</th>
                    <th>Заказано</th>
                    <th>Доставлено на СВХ</th>
                </tr>
                <tr>
                    <td>{{ gifts|count }}</td>
                    <td>
                        {{ gifts_on_tree|count }}
                    </td>
                    <td>
                        {{ gifts_picked_by_santas|count }}
                    </td>
                    <td>
                        {{ gifts_ordered|count }}
                    </td>
                    <td>
                        {{ gifts_on_warehouse|count }}
                    </td>
                </tr>
            </table>
            <hr>
            <br>
            <h3>Статус пользователей</h3>
            <table class="table">
                <tr>
                    <th>Категория</th>
                    <th>Количество</th>
                </tr>
                <tr>
                    <td>Зарегистрированные пользователи</td>
                    <td>
                        {{ users_registered }}
                    </td>
                </tr>
                <tr>
                    <td>Активированные учетные записи</td>
                    <td>
                        {{ users_activated }}
                    </td>
                </tr>
                <tr>
                    <td>Дарителей минимум с 1 подарком</td>
                    <td>
                        {{ number_of_santas_with_at_least_1_gift }}
                    </td>
                </tr>
                            <tr>
                    <td>Дарителей без подарков</td>
                    <td>
                        {{ number_of_santas_without_gifts }}
                    </td>
                </tr>
            </table>


        {% else %}
            <div class="col"><h3>У вас недостаточно прав для просмотра данной страницы.</h3></div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}