<!-- Обновление статуса подарка -->
<div class="modal fade" id="Model-StatusUpdate-{{ gift.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post">
                    {{ gift_status_update_form.hidden_tag() }}

                    <h5 class="text-center">Просмотр подарка и обновление статуса</h5>
                    <!-- Строка 1 -->
                    <div class="row">
                        <div class="col-2">Подарок:</div>
                        <div class="col-10">{{ gift.name }}</div>
                    </div>
                    <!-- Строка 2 -->
                    <div class="row">
                        <div class="col-2">Подробно:</div>
                        <div class="col-10">
                            {% if gift.description == "" %} Нет описания

                            {% elif gift.description != None %} {{ gift.description }}
                            {% endif %}
                        </div>
                    </div>
                        <br>

                    {{ gift_status_update_form.submit(class="btn btn-outline-danger btn-block") }}


                </form>
                <h4>Открытка</h4>
                <img style="max-width: 95%" src="{{ url_for("gifts_bp.display_image", filename=gift
                    .postcard_url) }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                </button>

            </div>
        </div>
    </div>
</div>