<!-- Обновление статуса подарка -->
<div class="modal fade" id="Model-StatusUpdate-{{ gift.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post">
                    {{ gift_status_update_form.hidden_tag() }}

                    <h5 class="text-center">Просмотр подарка и обновление статуса</h5>
                    <div class="row">
                        <div class="col-3">Подарок:</div>
                        <div class="col-9">{{ gift.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Подробно:</div>
                        <div class="col-9">
                            {% if gift.description == "" %} Нет описания

                            {% elif gift.description != None %} {{ gift.description }}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-3">Ребенок:</div>
                            <div class="col-9">{{ gift.kid.name }}
                                {% if age_calculator(gift.kid.birthday) == 1 %}
                                    ({{ age_calculator(gift.kid.birthday) }} год)
                                {% endif %}
                                {% if 2 <= age_calculator(gift.kid.birthday) <= 4 %}
                                    ({{ age_calculator(gift.kid.birthday) }} года)
                                {% endif %}
                                {% if 5 <= age_calculator(gift.kid.birthday) <= 20 %}
                                    ({{ age_calculator(gift.kid.birthday) }} лет)
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">Статус:</div>
                            <div class="col-9">
                                <input id="picked_gift" name="picked_gift" type="hidden" value="{{ gift.id }}">
                                <select name="status">
                                    <option value="0"
                                            {% if gift.status == 0 %}
                                            selected
                                            {% endif %}
                                    >Снят
                                    </option>
                                    <option value="1"
                                            {% if gift.status == 1 %}
                                            selected
                                            {% endif %}
                                    >Заказан
                                    </option>
                                    <option value="2"
                                            {% if gift.status == 2 %}
                                            selected
                                            {% endif %}
                                    >Доставлен на СВХ
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br>

                        {{ gift_status_update_form.submit(class="btn btn-outline-danger btn-block") }}


                </form>
                <h4>Открытка</h4>
                <img style="max-width: 95%" src="{{ url_for("gifts_bp.display_image", filename=gift
                    .postcard_url) }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                </button>

            </div>
        </div>
    </div>
</div>